.outer-wrapper {
  overflow: auto;
  padding:  40px 45px;
}

.entry-wrapper {
  width:   240px;
  height:  180px;
  padding: 35px 20px;
}

.entry-image {
  height: 75px;
  width:  75px;
  border: 10px double #eeeeee;
}

.entry-text-outer {
  height:   110px;
  width:    100%;
  display:  table;
  overflow: hidden;
  position: static;
}

.entry-text-middle {
  width:          100%;
  display:        table-cell;
  vertical-align: middle;
  position:       static;
}

.entry-text-inner {
  margin-left:  auto;
  margin-right: auto;
}

.card-row {
  height: 200px;
  width: 100%;
}

.row-content {
 height: 200px;
 width:  79%;
}

.row-divider {
  height: 70%;
  width:  2px;
  background-color: white
}

.player-remove-button {
  color: #FF2222;
}

.player-spacer {
  width: 8%;
}

.player-content {
  height:  100%;
  width:   25%;
  padding: 10px 20px;
}

.player-button {
  font-size:   80px;
  font-weight: bold;
  cursor:      pointer;
}

.player-name {
  width:          85%;
  font-size:      20px;
  vertical-align: middle;
}

.player-row {
}



#adder-button {
  color: #22FF22;
}

#name-input {
  padding:        5px 8px;
  width:          85%;
  font-size:      20px;
  vertical-align: middle;
}

#card-num-spinner {
  width: 75px;
  color: white;
}

#btn-wrapper {
  width:            450px;
  padding:          8px;
  background-color: #33B546;
  border-radius:    10px 10px 10px 10px;
}

#pick-btn {
  width:  100%;
  border: 3px solid black;
}

#card-holder {
  text-align: justify;
}
