.tall {
  height: 16em;
}

body {
  background-color: #454545;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.date-input {
  text-align: center;
  width: 33%;
}

.horiz-centered-children {
  text-align:   center;
}

.round-bordered {
  border: 6px solid #AFAFAF;
  border-radius: 10px 10px 10px 10px;
}

.has-headroom {
  margin-top: 25px;
}

.dynamic-check-label {
  margin: 5px;
}

.accordian-div {
  height: 600px;
}


/* Faction Background Colors */

.choobar-backgrounded {
  background-color: #9151B3;
}

.einar-backgrounded {
  background-color: #D08A51;
}

.jandar-backgrounded {
  background-color: #3333FF;
}

.jacob-backgrounded {
  background-color: #BBAA00;
}

.ullar-backgrounded {
  background-color: #5ACF6F;
}

.utgar-backgrounded {
  background-color: #E03438;
}

.vydar-backgrounded {
  background-color: #A8A8B7;
}
