/* Circle/Loading Animation */

.fade-anim-wrapper {
  position: relative;
  display:  inline-block;
}

.fade-anim-circle {

  width:            10px;
  height:           10px;
  background-color: #FFFFFF;
  position:         absolute;

  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;

  -moz-animation-name:    fade-anim;
  -webkit-animation-name: fade-anim;
  animation-name:         fade-anim;

  -moz-animation-duration:    0.78s;
  -webkit-animation-duration: 0.78s;
  animation-duration:         0.78s;

  -moz-animation-iteration-count:    infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count:         infinite;

  -moz-animation-direction:    linear;
  -webkit-animation-direction: linear;
  animation-direction:         linear;

}

.fade-anim-1 {
  left: 10px;
  top:  34px;
  -moz-animation-delay:    0.39s;
  -webkit-animation-delay: 0.39s;
  animation-delay:         0.39s;
}

.fade-anim-2 {
  left: 21px;
  top:  12px;
  -moz-animation-delay:    0.52s;
  -webkit-animation-delay: 0.52s;
  animation-delay:         0.52s;
}

.fade-anim-3 {
  right: 21px;
  top:   12px;
  -moz-animation-delay:    0.65s;
  -webkit-animation-delay: 0.65s;
  animation-delay:         0.65s;
}

.fade-anim-4 {
  right: 10px;
  top:   34px;
  -moz-animation-delay:    0.78s;
  -webkit-animation-delay: 0.78s;
  animation-delay:         0.78s;
}

.fade-anim-5 {
  right:  21px;
  bottom: 12px;
  -moz-animation-delay:    0.91s;
  -webkit-animation-delay: 0.91s;
  animation-delay:         0.91s;
}

.fade-anim-6 {
  left:   21px;
  bottom: 12px;
  -moz-animation-delay:    1.04s;
  -webkit-animation-delay: 1.04s;
  animation-delay:         1.04s;
}

@-moz-keyframes fade-anim {

  0% {
    background-color: #181818;
  }

  100% {
    background-color: #FFFFFF;
  }

}

@-webkit-keyframes fade-anim {

  0% {
    background-color: #181818;
  }

  100% {
    background-color: #FFFFFF;
  }

}

@keyframes fade-anim {

  0% {
    background-color: #181818;
  }

  100% {
    background-color: #FFFFFF;
  }

}
