@main("Heroscape Card Drafter") {
      <!-- Base indentation of 6 spaces! -->
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")">
      <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="//code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
      <script>
        hidden_exports = {};
        exports = {};
      </script>
      <script src="@routes.Assets.at("javascripts/api/jquery.js")"></script>
      <script src="@routes.Assets.at("javascripts/api/prototypes.js")"></script>
      <script src="@routes.Assets.at("javascripts/api/cloner.js")"></script>
      <script src="@routes.Assets.at("javascripts/adt/option.js")"></script>
      <script src="@routes.Assets.at("javascripts/adt/obj.js")"></script>
      <script src="@routes.Assets.at("javascripts/adt/iterator.js")"></script>
      <script src="@routes.Assets.at("javascripts/index/cards.js")"></script>
      <script src="@routes.Assets.at("javascripts/index/constants.js")"></script>
      <script src="@routes.Assets.at("javascripts/index/globals.js")"></script>
      <script src="@routes.Assets.at("javascripts/index/jglobals.js")"></script>
      <script src="@routes.Assets.at("javascripts/index/element.js")"></script>
      <script src="@routes.Assets.at("javascripts/index/card-iterator.js")"></script>
      <script src="@routes.Assets.at("javascripts/main.js")"></script>
      <script src="@routes.Assets.at("javascripts/index/onload.js")"></script>
      <script src="@routes.Assets.at("javascripts/index/main.js")"></script>
      <script src="@routes.Assets.at("javascripts/index/finalize.js")"></script>
      <script>
        window.addEventListener('load', function() { exports.index_finalize(); });
      </script>
      <div id="index-accordion" class="collapsible-accordion">
        <h3>Draft Cards</h3>
        <div id="main-box" class="ui-widget ui-widget-content ui-corner-all outer-wrapper accordion-div">
          <div id="card-container">
            <table id="adder-table" class="round-bordered card-row has-headroom">
              <tr>
                <td class="player-content">
                  <table>
                    <tr>
                      <td>
                        <input id="name-input" type="text" autofocus="autofocus" placeholder="Player name">
                      </td>
                      <td>
                        <img id="adder-button" src="/assets/images/index/priority/simple-plus.png" alt="Add Player" class="player-button">
                      </td>
                    </tr>
                  </table>
                </td>
                <td>
                  <div class="row-divider"></div>
                </td>
                <td class="row-content">
                  <table>
                    <tr class="row-content-row">
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
          <div class="has-headroom">
            <label for="card-num-spinner">Number of cards:</label>
            <input id="card-num-spinner" class="ui-spinner" name="value">
            <div id="btn-wrapper" class="has-headroom">
              <button id="pick-btn" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
                <span class="ui-button-text">Pick Cards!</span>
              </button>
              </div>
          </div>
        </div>
        <h3>Customize Cardset</h3>
        <div id="card-holder" class="accordion-div"></div>
      </div>
}
